

        <form class="form-control" action="/action_page.php">

            <fieldset>
                <legend>Votre entreprise</legend>
                <input type="text" class="form-control mb-2 mr-sm-2" id="société" placeholder="nom de votre société">
                <input type="text" class="form-control mb-2 mr-sm-2" id="siret" placeholder="siret">
                <input type="text" class="form-control mb-2 mr-sm-2" id="nc" placeholder="nom commercial">
                <input type="text" class="form-control mb-2 mr-sm-2" id="adresse_sg" placeholder="adresse du siège social">
                <input type="text" class="form-control mb-2 mr-sm-2" id="cp" placeholder="code postal">
                <input type="text" class="form-control mb-2 mr-sm-2" id="pwd"  placeholder="ville">
                <input type="text" class="form-control mb-2 mr-sm-2" id="eail" placeholder="votre email">
                <input type="text" class="form-control mb-2 mr-sm-2" id="tel" placeholder="numéro téléphone">
                <input type="text" class="form-control mb-2 mr-sm-2" id="site" placeholder="Site web">
            </fieldset>

        </form>



